@layer theme, base, antd, components, utilities;

@import 'tailwindcss';
@import './tailwind-config.css';
@custom-variant dark (&:where(.dark, .dark *));

@import './github-markdown.css';

.ant-layout-sider-children {
  overflow: auto;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.layout-tabs .ant-tabs-nav {
  margin: 0 !important;
}

:root {
  --contexify-menu-bgColor: #ffffff;
  --contexify-separator-color: rgba(0,0,0,.2);
  --contexify-item-color: #000000;
  --contexify-activeItem-color: #000000;
  --contexify-activeItem-bgColor: #1677ff;
  --contexify-rightSlot-color: #000000;
  --contexify-activeRightSlot-color: #000000;
  --contexify-arrow-color: #000000;
  --contexify-activeArrow-color: #000000;
}
.dark {
  --contexify-menu-bgColor: #000000;
  --contexify-separator-color: rgba(255,255,255,.2);
  --contexify-item-color: #ffffff;
  --contexify-activeItem-color: #ffffff;
  --contexify-activeItem-bgColor: #1677ff;
  --contexify-rightSlot-color: #ffffff;
  --contexify-activeRightSlot-color: #ffffff;
  --contexify-arrow-color: #ffffff;
  --contexify-activeArrow-color: #ffffff;
}

.markdown-body [id='TOC'],
.markdown-body [id='toc'],
.markdown-body [id='目录'] {
  position: fixed;
  top: 180px;
  right: 16px;
  width: 220px;
  margin: 0 !important;
  padding: 4px 8px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.2;
  border-bottom: 0;
}
.markdown-body [id='TOC'] + ul,
.markdown-body [id='toc'] + ul,
.markdown-body [id='目录'] + ul {
  font-size: 14px;
  position: fixed;
  top: 216px;
  right: 16px;
  width: 220px;
  max-height: calc(100vh - 428px);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 6px;
  margin: 0 !important;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.2;
  overflow: auto;
}
.markdown-body [id='TOC']:hover,
.markdown-body [id='toc']:hover,
.markdown-body [id='目录']:hover,
.markdown-body [id='TOC'] + ul:hover,
.markdown-body [id='toc'] + ul:hover,
.markdown-body [id='目录'] + ul:hover {
  opacity: 1;
}

.dark .markdown-body [id='TOC'],
.dark .markdown-body [id='toc'],
.dark .markdown-body [id='目录'] {
  background-color: rgba(0, 0, 0, 0.8);
}
.dark .markdown-body [id='TOC'] + ul,
.dark .markdown-body [id='toc'] + ul,
.dark .markdown-body [id='目录'] + ul {
  background-color: rgba(0, 0, 0, 0.8);
}
