@layer theme, base, antd, components, utilities;

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import './github-markdown.css';

.ant-layout-sider-children {
  overflow: auto;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
